.workarea_list {
  margin: 0.2rem 1rem;
  list-style: none;
  padding: 0;
}

.list_item {
  font-size: 12px;
  justify-self: left;
  text-transform: uppercase;
}

.selectedPage {
  font-weight: bold;
}

span {
  margin-left: 40px;
}
