.container {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-template-rows: repeat(2, min-content);
  grid-gap: 0.2rem 1rem;
  margin-top: 1.5rem;
}

.container_header {
  margin: 0.2rem 1rem;
  grid-column: 2/3;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 4px;
}

.container_workarea {
  grid-column: 2/3;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.workarea_textarea {
  grid-row: 1/2;
  margin: 0.2rem 1rem;
  justify-self: center;
}

.workarea_button {
  grid-row: 2/3;
  margin: 0.2rem 1rem;
  text-align: center;
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.3rem;
  outline: none;
}

.workarea_list {
  margin: 0.2rem 1rem;
  grid-row: 3/-1;
  list-style: none;
  padding: 0;
}

.list_item {
  font-size: 12px;
  justify-self: left;
  text-transform: uppercase;
}
